extends app

block content
  section
    div#key-stream
      object(type=type, data=data, width="100%", height="100%", id=stream, name=stream)
        param(name="flashvars", value=flashvars)
        param(name="allowfullscreen", value="true")
        param(name="allowscriptaccess", value="always")
        param(name="bgcolor", value="000000")
        param(name="wmode", value="opaque")

    a(id="disrupt-button", href="/") DISRUPT

    section#disrupt-message